.current {
  margin: 0;
  padding-left: 30px;
  padding-bottom: 15px;
}
.current__label {
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  box-sizing: content-box;
}

.current__check + .current__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -25px;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 3px solid #888888;

}

.current__check:checked + .current__label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -25px;
  width: 19px;
  height: 19px;
  background-color: #0c83c7;
  border: 3px solid #888888;
}

.meteo {
  margin: 0;
  padding-left: 30px;
  padding-bottom: 15px;
}

.meteo__label {
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  box-sizing: content-box;
}

.meteo__check + .meteo__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -25px;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 3px solid #888888;

}

.meteo__check:checked + .meteo__label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -25px;
  width: 19px;
  height: 19px;
  background-color: #0c83c7;
  border: 3px solid #888888;
}

.all {
  margin: 0;
  padding-left: 30px;
  padding-bottom: 15px;
}

.all__label {
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  box-sizing: content-box;
}

.all__check + .all__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -25px;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 3px solid #888888;

}

.all__check:checked + .all__label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -25px;
  width: 19px;
  height: 19px;
  background-color: #0c83c7;
  border: 3px solid #888888;
}

.settings__buttons--report {
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #0c83c7;
  text-decoration: none;
}
