<!--<section class="add-external" >-->
<!--  <h2 class="add-data__title">Добавить данные Паводок 2.0</h2>-->
<!--  <p class="add-data__description">Добавление данных из системы Паводок 2.0 для текущего гидропоста.</p>-->
<!--  <form action="" class="add-data__form form-add" [formGroup]="addFormExternal" (ngSubmit)="addExternalData()">-->
<!--    <div class="form-add__wrapper">-->
<!--      <label for="add-date-external" class="form-add__label">Дата</label>-->
<!--      <input type="date" class="form-add__value" placeholder="07.02.2021" id="add-date-external" formControlName="date">-->
<!--    </div>-->
<!--    <div class="form-add__wrapper">-->
<!--      <label for="add-level-external" class="form-add__label">Уровень воды</label>-->
<!--      <input type="text" class="form-add__value" id="add-level-external" placeholder="500" formControlName="level">-->
<!--      <small class="form-add__measure">см</small>-->
<!--    </div>-->
<!--    <button type="submit" class="form-add__button">Добавить</button>-->
<!--  </form>-->
<!--  <p class="form-error" *ngIf="formError">{{formError}}</p>-->
<!--  <p class="form-success" *ngIf="formSuccess">{{formSuccess}}</p>-->
<!--</section>-->
